.pgprincipal__container{
    height: 912px;
    background-color: #EFF2F5;
}

.imglayout__container{
    display: flex;
    margin: 15px;
}

.imglayout__img{
    max-height:35px;
    max-width: 35px;
}

.imglayout__texto{
    font-weight: 500;
    margin:10px;
    font-size: 14px;
}

.meio__container{
    padding-left: 120px !important;
    overflow-y: scroll;
    height: 912px;
    /* Esconder scrollbar para Firefox, IE e Edge*/
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

/* Esconder scrollbar para Chrome, Safari e Opera */
.meio__container::-webkit-scrollbar {
    display: none;
}

