.postagem__container{
    width: 600px;
    margin-top: 20px;
    border-radius: 20px;
}

.postagem__header{
    display: flex;
    height: 65px;
}

.postagem__pp{
    margin: 15px;
}

.postagem__header_texto{
    font-weight: 700;
    margin-top: 20px;
    font-size: 14px;
}

.postagem__descricao{
    display: flex;
    margin-left: 15px;
}

.postagem__imagem{
    margin: 10px 0px;
}

.postagem__curtidas{
    display: flex;
    height: 40px;
    padding: 0px 10px;
    border-bottom: 1px solid #CDD0D4;
}

.postagem__icone{
    height: 20px;
}

.postagem__contagem{
    margin-left: 5px;
}

.postagem__compartilhamento{
    display: flex;
    height: 40px;
    margin-left: 60px;
    margin-top: 10px;
}

.postagem__aba{
    display: flex;
    width: 200px;
}

.postagem__img_aba{
    width: 30px
}

.postagem__texto_aba{
    margin: 5px;
}
.postagem__comentario{
    border-top: 1px solid #CDD0D4;
}